/* Reset padding and margin */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 64px 32px;
  font: 18px/1.5 "Avenir", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

header,
footer {
  max-width: 90ex;
  margin: 0 auto;
}

header {
  padding-bottom: 32px;
  border-bottom: 2px solid #ccc;
}

footer {
  padding-top: 16px;
  text-align: right;
}

h1 {
  margin-bottom: 32px;
  color: #492a7c;
}

a {
  text-decoration: none;
}

.bar {
  fill-opacity: 0.8;
}

.bar:hover {
  fill-opacity: 1;
}

.male-bar {
  fill: #89CFF0;
}

.female-bar {
  fill: "#FF69B4";
}

.chart-container {
  transform: translate(220px, 20px);
}

div.tooltip-custom {
  position: absolute;
  text-align: center;
  padding: .5rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}